@import "../utils/colors";
@import "../utils/variables";

button {
    border: none;
}

.button-explore {
    background: linear-gradient(to bottom right, $primary, $secondary);
    font-size: $font-size-button;
    color: $text-secondary;
    cursor: pointer;
    margin: -10px;
    padding: 15px 25px 15px 25px;
    border-radius: 30px;
    box-shadow: $box-shadow;
    transition-duration: 250ms;
    &:hover {
        filter: brightness(110%);
        box-shadow: $box-shadow-bigger;
    }
}

.fa-heart {
    position: absolute;
    top: 200px;
    right: 30px;
    font-size: 25px;
    border: none;
    color: transparent;
    -webkit-text-stroke: 1px black;
    cursor: pointer;

    &:active, &:hover {
        background-image: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        transform: scale(1.1);
    }
}