@import "../utils/mixins";

.loader {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    animation: loader 3000ms;
    transform: scale(0);
    z-index: 2
}

.ball1 {
    @include ball;
    background: $primary;
    animation: progress-ball 3000ms;
}

.ball2 {
    background: $secondary;
    @include ball;
    animation: progress-ball 3000ms;
    animation-delay: 200ms;
}

.ball3 {
    background: $tertiary;
    @include ball;
    animation: progress-ball 3000ms;
    animation-delay: 400ms;
}

@keyframes progress-ball {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(2);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
    }
    99% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}