$primary: #FF79DA;
$secondary: #9356DC;
$tertiary: #99E2D0;

$text-primary: #181818;
$text-secondary: #fff;

$background-primary: rgb(235, 235, 235);
$background-lighter: rgb(245, 245, 245);
$background-darker: rgb(98, 98, 98);